<p>Your post <i>{{ post_comment.post.post_name }}</i> got a new comment on <a href="https://app.recessfeed.com">Recess</a>:</p>

<p>
    <b>{{ post_comment.comment_author }}</b> said:
    <i>
        "{{ post_comment.comment_content }}"
    </i>
</p>

<p><a href="{{ post_link }}">View in Recess.</a></p>

<br />
<br />
<br />
<br />
<br />

<hr />

<small style="font-size: 8px;">You're receiving this email because you're set as the publisher or webmaster of the '{{ post_comment.post.feed.feed_name }}' RSS feed. Don't want to get any more email notifications like these? Opt out <a href="{{ opt_out_link }}">here</a>.</small>


